[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/ifmon
GenericName[en_US]=ifmon
GenericName=ifmon
Icon=/usr/share/ifmon/resources/ifmon.png
MimeType=
Name[en_US]=Bandwidth Monitor
Name[bn_BD]=ব্যান্ডউইডথ মনিটর
Name[bn_IN]=ব্যান্ডউইডথ মনিটর
Name[bn]=ব্যান্ডউইডথ মনিটর
Name=Bandwidth Monitor
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
